In [1]:
%run overlap_functions.ipynb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import silhouette_score

# For PCA + K-means clusters

In [3]:
# Loading the Adjusted Mutual Information score
score_path = '/data/bioprotean/ABA/PCA/80_variance/PC_80v_score.csv'
score_df = pd.read_csv(score_path, index_col = 'Unnamed: 0')
score_df.head()

   K           AMI  Silhouette
0  1 -8.950789e-17         NaN
1  2  3.029351e-01         NaN
2  3  3.818624e-01         NaN
3  4  4.206111e-01         NaN
4  5  4.619584e-01         NaN

In [ ]:
# Sample Silhouette score

# Loading the PC array as X
X = np.load('/data/bioprotean/ABA/PCA/PC_80v.npy')

# Loading labels
labels = np.load('/data/bioprotean/ABA/PCA/80_variance/Kmeans_labels/1_clusters.npy').flatten()

score = silhouette_score(X, labels)

In [ ]:
# Calculating Silhouette score with for loop

# List of K values
numbers_list = list(range(50,551,50))
add = 594
numbers_list.append(add)

Sil_list = []

for value in numbers_list:    
    # Loading the labels
    cluster_path = '/data/bioprotean/ABA/PCA/80_variance/Kmeans_labels/'+str(value)+'_clusters.npy'
    cluster = np.load(cluster_path).flatten()
    
    Sil_list.append(silhouette_score(X, cluster))

In [16]:
# Loading the calculated scores

# List of K values
numbers_list = list(range(2,50))
extra_list = list(range(50,551,50))
add_number = 594
numbers_list.extend(extra_list)
numbers_list.append(add_number)

# The list of scores
score_list = []

# Silhouette score starts with 2 clusters, manually defining 1 as 0
score_list.append(0)

# Loading the already calculated scores
for i in numbers_list:
    # Loading the score from NPY
    SS_path = '/data/bioprotean/ABA/PCA/80_variance/Silhouette/SS_'+str(i)+'.npy'
    SS = float(np.load(SS_path))
    
    score_list.append(SS)

In [19]:
# Adding values to DataFrame
score_df['Silhouette'] = score_list

# Saving to CSV
score_df.to_csv('/data/bioprotean/ABA/PCA/80_variance/PC_80v_score.csv')

# For DLSC + K-means clusters

In [20]:
# Loading the Adjusted Mutual Information score
score_path = '/data/bioprotean/ABA/DLSC/pos_std/DLSC_100_score.csv'
score_df = pd.read_csv(score_path, index_col = 'Unnamed: 0')
score_df.head()

   K           AMI  Silhouette
0  1 -8.950789e-17         NaN
1  2  2.075557e-02         NaN
2  3  1.560250e-01         NaN
3  4  1.950712e-01         NaN
4  5  2.748161e-01         NaN

In [21]:
# Loading the calculated scores

# List of K values
numbers_list = list(range(2,50))
extra_list = list(range(50,551,50))
add_number = 594
numbers_list.extend(extra_list)
numbers_list.append(add_number)

# The list of scores
score_list = []

# Silhouette score starts with 2 clusters, manually defining 1 as 0
score_list.append(0)

# Loading the already calculated scores
for i in numbers_list:
    # Loading the score from NPY
    SS_path = '/data/bioprotean/ABA/DLSC/pos_std/Silhouette/SS_'+str(i)+'.npy'
    SS = float(np.load(SS_path))
    
    score_list.append(SS)

In [22]:
# Adding values to DataFrame
score_df['Silhouette'] = score_list

# Saving to CSV
score_df.to_csv('/data/bioprotean/ABA/DLSC/pos_std/DLSC_100_score.csv')