This is to make Pandas dataframes.

In [22]:
import pandas as pd
import numpy as np

a = pd.read_csv('/home/mabbasi6/morphometry/correlation/flatten/3.csv', names=['Gene'])
b = pd.read_csv('/home/mabbasi6/morphometry/correlation/flatten/ttest_3.csv', names=['Warp'])
join = [a,b]
c = pd.concat (join)
print(c)
print(c.corr(method='pearson'))

        Gene  Warp
0       -1.0   NaN
1       -1.0   NaN
2       -1.0   NaN
3       -1.0   NaN
4       -1.0   NaN
5       -1.0   NaN
6       -1.0   NaN
7       -1.0   NaN
8       -1.0   NaN
9       -1.0   NaN
10      -1.0   NaN
11      -1.0   NaN
12      -1.0   NaN
13      -1.0   NaN
14      -1.0   NaN
15      -1.0   NaN
16      -1.0   NaN
17      -1.0   NaN
18      -1.0   NaN
19      -1.0   NaN
20      -1.0   NaN
21      -1.0   NaN
22      -1.0   NaN
23      -1.0   NaN
24      -1.0   NaN
25      -1.0   NaN
26      -1.0   NaN
27      -1.0   NaN
28      -1.0   NaN
29      -1.0   NaN
...      ...   ...
159296   NaN   NaN
159297   NaN   NaN
159298   NaN   NaN
159299   NaN   NaN
159300   NaN   NaN
159301   NaN   NaN
159302   NaN   NaN
159303   NaN   NaN
159304   NaN   NaN
159305   NaN   NaN
159306   NaN   NaN
159307   NaN   NaN
159308   NaN   NaN
159309   NaN   NaN
159310   NaN   NaN
159311   NaN   NaN
159312   NaN   NaN
159313   NaN   NaN
159314   NaN   NaN
159315   NaN   NaN
159316   NaN   NaN
159317   NaN   NaN
159318   NaN   NaN
159319   NaN   NaN
159320   NaN   NaN
159321   NaN   NaN
159322   NaN   NaN
159323   NaN   NaN
159324   NaN   NaN
159325   NaN   NaN

[318652 rows x 2 columns]
      Gene  Warp
Gene   1.0   NaN
Warp   NaN   1.0

/packages/7x/anaconda3/5.3.0/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

In [15]:
import numpy

d = numpy.nan
print(d)

nan